<div>
    <h3>Upload game file to play</h3>
    <div class="input-group">
        <input type="file" file-model="myFile" accept=".xml"/>
        <span class="input-group-btn">
                <button ng-click="uploadFile()" class="btn btn-info">Upload game</button>
            </span>
    </div>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <h3>OR... select game from server</h3>
    <div class="input-group">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="User in UserList">
                <td>{{User.username}}</td>
                <td>{{User.playerType}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Title</th>
                <th>Uploaded By</th>
                <th>Rounds</th>
                <th>Size</th>
                <th>Players</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Game in GameList" ng-click="selectGame(Game)" ng-class="{'table-active': Game.id === selectedGameId}">
                <td>{{Game.title}}</td>
                <td>{{Game.uploadedBy}}</td>
                <td>{{Game.totalMoves}}</td>
                <td>{{Game.rows}}X{{Game.columns}}</td>
                <td>{{Game.numberOfRegisteredPlayers}}/{{Game.numberOfPlayers}}</td>
            </tr>
            </tbody>
        </table>
        <button ng-click="chooseGame()" ng-disabled="isGameSelected" class="btn btn-info">Go to Game</button>
    </div>
    <h3>Or simply quit why don't you...</h3>
    <p><a href="#/login" class="btn-link">Logout</a></a></p>
</div>


