<div class="row">
    <!-- Game status -->
    <div class="col-md-9 text-center" style="margin-bottom: 25px;">
        <h2>Game status:</h2>
        <small>{{currentGameStatus}}</small>
    </div>
    <div class="col-md-3">
        <button href="#/home" class="btn-link">Select another game</button>
        <button href="#/login" class="btn-link">Logout</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- info sidebar -->
                <div class="col-md-3">
                    <div>
                        <h4>Game info:</h4>
                        <p>Round:{{Game.round}}/{{totalRounds}}</p>
                        <p>Move: {{Game.playerMove}}/2</p>
                    </div>
                    <div>
                        <h4>Actions:</h4>
                        <button class="btn btn-default btn-block">BLACK</button>
                        <button class="btn btn-default btn-block">WHITE</button>
                        <button class="btn btn-default btn-block">EMPTY</button>
                        <button class="btn btn-warning btn-block">UNDO</button>
                        <button class="btn btn-danger btn-block">END MOVE</button>
                    </div>
                    <div>
                        <h4>Player list:</h4>
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="player in playerList">
                                <td>{{player.name}}</td>
                                <td>{{player.type}}</td>
                                <td>{{player.playerScore}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- grid panel -->
                <div class="col-md-9 grid" style="background-color: #0f0f0f; text-align: center">
                    <h2 class="text-center">{{gameTitle}}</h2> <!--need to dynamically change this.. -->
                    <!--- grid -->
                    <table class="gridTable">
                        <!-- column constraints segment -->
                        <tbody>
                            <tr class=""
                                ng-repeat="columnConstraint in columnConstraints track by $index"
                                ng-init="outerIndex = $index"
                                ng-click="selectColumn($index)">
                                <td class=" ">
                                    &nbsp;
                                </td>

                                <td class="" style="text-align: center;"
                                     ng-class="columnConstraints[outerIndex][$index].isPerfect ? 'perfect' : ''"
                                     ng-repeat="constraint in columnConstraint track by $index"
                                    >
                                    {{columnConstraints[outerIndex][$index] != null ? columnConstraints[outerIndex][$index].constraint : '&nbsp'}}
                                </td>
                            </tr>
                            <tr ng-repeat="row in rowConstraints track by $index"
                                ng-init="outerIndex2=$index">
                                <td class="left-segment "
                                    ng-click="selectRow($index)">

                                    <span class="left-segment " style="text-align: right;"
                                         ng-class="rowConstraints[outerIndex2][$index].isPerfect ? 'perfect' : '' "
                                         ng-repeat="constraint in rowConstraints[$index] track by $index"
                                        >
                                        {{rowConstraints[outerIndex2][$index] != null ? rowConstraints[outerIndex2][$index].constraint : '&nbsp'}}
                                    </span>
                                </td>

                                <td ng-repeat="square in columnConstraints[0] track by $index"
                                    ng-click="onSquareClicked(square)"
                                    ng-class="square.selected? 'selected':'notselected'"
                                    class="square {{square.color}}">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





