<div class="row">
    <!-- Game status -->
    <div class="col-md-9 text-center" style="margin-bottom: 25px;">
        <h2>Game status:</h2>
        <small>{{Game.currentGameStatus}}</small>
    </div>
    <div class="col-md-3">
        <button href="#/home" class="btn-link">Select another game</button>
        <button href="#/login" class="btn-link">Logout</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- info sidebar -->
                <div class="col-md-3";">
                    <div>
                        <h4>Game info:</h4>
                        <p>Round:{{Game.round}}</p>
                        <p>Move: {{Game.playerMove}}</p>
                        <p>Score: {{Game.playerScore}}</p>
                    </div>
                    <div>
                        <h4>Actions:</h4>
                        <button class="btn btn-default btn-block">BLACK</button>
                        <button class="btn btn-default btn-block">WHITE</button>
                        <button class="btn btn-default btn-block">EMPTY</button>
                        <button class="btn btn-warning btn-block">UNDO</button>
                        <button class="btn btn-danger btn-block">END MOVE</button>
                    </div>
                    <div>
                        <h4>Player list:</h4>
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="Player in PlayerList">
                                <td>{{Player.name}}</td>
                                <td>{{Player.type}}</td>
                                <td>{{Player.score}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- grid panel -->
                <div class="col-md-9 grid" style="background-color: #0f0f0f">
                    <h2 class="text-center">Game name</h2> <!--need to dynamically change this.. -->
                    <!--- grid -->
                    <table class="gridTable">
                        <!-- column constraints segment -->
                        <tr>
                            <th class="top-segment segment">

                            </th>
                            <th class="top-segment segment"
                                ng-repeat="columnConstraint in columnConstraints track by $index"
                                ng-init="outerIndex = $index"
                                ng-click="selectColumn($index)">


                                <div class="segment-content"
                                     ng-class="columnConstraints[outerIndex][$index].isPerfect? 'perfedct': ''"
                                     ng-repeat="constraint in columnConstraint track by $index"
                                    style="display: inline-block">
                                    0
                                </div>
                            </th>
                        </tr>
                        <!-- row constraints segment -->
                        <tr ng-repeat="row in rowConstraints track by $index"
                            ng-init="outerIndex2=$index">

                            <th class="left-segment segment"
                                ng-click="selectRow($index)">

                                <div class="left-segment segment"
                                     ng-class="rowConstraints[outerIndex2][$index].isPerfect? perfect: ''"
                                     ng-repeat="constraint in rowConstraints[$index] track by $index"
                                    style="display: inline-block">
                                    1
                                </div>
                            </th>

                            <th ng-repeat="square in row track by $index"
                                ng-click="onSquareClicked(square)"
                                ng-class="square.selected? 'selected':'notselected'"
                                class="square {{square.color}}">
                            </th>
                        </tr>
                    </table>§
                </div>
            </div>
        </div>
    </div>
</div>





