<!DOCTYPE html>
<html lang="en" ng-app="griddlersWebApp">
<head>
    <meta content="text/html"; charset="UTF-8">
    <link rel="icon" href="../../../img/favicon.ico">
    <title>GriddlersWeb</title>

    <link rel="stylesheet" href="../../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap/signin.css">
</head>
<body>
<div class="container">
    <div class="jumbotron" style="padding-bottom: 0px;">
        <h2>Gridllers Web</h2>
        <p>Welcome to the most awesome puzzle of all!</p>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form class="form-group" name="form" ng-submit="login()" role="form" >
            <div class="input-group" style="margin: 0.5em">
                <input type="text" name="username" id="username" class="form-control" ng-model="username" required="" autofocus="" placeholder="User Name"/>
                <span class="input-group-btn">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-info">Login</button>
                </span>
            </div>
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            <div class="form-group">
                    <input type="radio" ng-model="playerType" value="Human">
                    human
                    <input type="radio" ng-model="playerType" value="Computer">
                    Computer
            </div>
        </form>
    </div>
</div>
</body>
</html>


